@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>
        This web library is  singlehandedly being developed and maintained by me. Note that this is just a demo so not all information
        is 100% accurate. 
    </h1>
</div>
